#section2{
    top:0px;
    background: linear-gradient(to bottom, #f2f9ff 32%, #e8f2f7 100%);
    padding-top: 0px!important;
}
html, body{
    background-color: #f2f9ff
}
body{
        margin-top: 50px;
}

#section5{
    
}
p {
    font-size: 1.8em;
    padding: 20px;
}

nav {
    top: 0px;
}

#materialbox-overlay {
    
    background-color: #3e4c5e;
}

@media only screen and (min-width: 993px){
.container-custom{
    width: 80%;
}
}

@media only screen and (min-width: 601px){
.container-custom {
    width: 95%;
}
}


i.right {
    top: 3px;
    margin-left: 0px;
    color: #3e4c5e;
    position: relative;
}

.card:hover > .card-image {
    transform: scale(1);
}

.card .card-title {
    font-weight: 600;
}

#iframe-card{
    position: relative;
    height: 600;
    width: 90%; 
}
hr{
    border: none;
    background-color: #e5edf7;
    height: 2px;
    width: 80%;
}