#section2{
    top:109px;
    background: linear-gradient(to bottom, #f2f9ff 32%, #e8f2f7 100%);
    padding-top: 0px!important;
}
html, body{
    background-color: #f2f9ff
}

#section5{
    
}
p {
    font-size: 1.2em;
    padding: 20px;
}

nav {
    top: 0px;
}


@media only screen and (min-width: 993px){
.container-custom{
    width: 80%;
}
}

@media only screen and (min-width: 601px){
.container-custom {
    width: 95%;
}
}


i.right {
    top: 3px;
    margin-left: 0px;
    color: #3e4c5e;
    position: relative;
}

.card:hover > .card-image {
    transform: scale(1);
}

.card .card-title {
    font-weight: 600;
}